# 1차시: 프로그래밍 기초 (1)
## 파이썬 기본 문법

## 1. `print()` 활용

- `print()` 함수로 화면에 메시지나 변숫값을 출력합니다.

In [1]:
print("Hello, Python!")
print("나만의 문장을 출력해 보세요!")

Hello, Python!
나만의 문장을 출력해 보세요!

**실습 1:**

`print()`를 사용해 본인의 이름과 좋아하는 과목을 출력해 보세요.

## 2. 기본 연산

- 사칙연산: `+`, `-`, `*`, `/`
- 몫: `//`, 나머지: `%`, 거듭제곱: `**`

In [2]:
print("3 + 5 =", 3 + 5)
print("10 - 4 =", 10 - 4)
print("6 * 7 =", 6 * 7)
print("8 / 3 =", 8 / 3)
print("8 // 3 =", 8 // 3)
print("8 % 3 =", 8 % 3)
print("2 ** 5 =", 2 ** 5)

3 + 5 = 8
10 - 4 = 6
6 * 7 = 42
8 / 3 = 2.6666666666666665
8 // 3 = 2
8 % 3 = 2
2 ** 5 = 32

-**실습 2:**

15와 4의 나눗셈 결과(몫, 나머지)를 `print()`로 출력해 보세요.

In [3]:
print(15//4, 15%4)

3 3

## 3. 변수 사용
프로그래밍에서 변수는 데이터를 저장하고 참조하기 위해 사용되며, 변수 이름과 데이터 타입이 중요합니다

- 변수는 `=` 기호로 값을 저장합니다.
- 변수 이름은 문자, 숫자, 언더스코어(_) 사용 가능하며 숫자로 시작하면 안 됩니다.

파이썬에서 사용할 수 있는 자료형 중 많이 사용하는 것은 다음과 같다:
- bool: 참(True) 또는 거짓(False)
- int: 정수형 숫자 (예: 1, -3)
- float: 실수
- complex: 복소수 (예: ```2+3j```)
- str: 문자열 (예: ```'hello', '3'```)
- tuple: 변경 불가능한 순서 있는 데이터 묶음 (예: ```(1,2,3)```)
- list: 변경 가능한 순서 있는 데이터 묶음 (예: ```[1,2,3]```)
- dict: 키-값(key-value) 쌍으로 구성된 데이터 구조 (예: ```{'a': 1}```)

```type``` 명령을 통해 변수나 값의 자료형을 알아볼 수 있다.

In [4]:
# 예제: 사각형 넓이 계산
x = 10
y = 3
sum_xy = x + y
print("x + y =", sum_xy)

x + y = 13

In [5]:
# 예제: 사각형 넓이 계산
width = 5
height = 2
area = width * height
print("사각형의 넓이 =", area)
print(f"사각형의 넓이 = {area}")

사각형의 넓이 = 10
사각형의 넓이 = 10

In [6]:
# 예제: 안녕지옥
text = "안녕"
print(text*10)
space = " "
print(text+space+text)

안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕
안녕 안녕

In [7]:
# 문자와 숫자는 더할 수 없습니다
text = "안녕"
num = 5
print(text+num)

TypeError: can only concatenate str (not "int") to str

**실습 3:**

`a = 7`, `b = 2`일 때, `a`를 `b`로 나눈 몫과 나머지를 출력하는 코드를 작성해 보세요.

In [8]:
a = 7
b = 2
print(a//b, a%b)

3 1

## 4. 조건문
1. `if` 문
- 특정 조건이 참(`True`)일 때만 코드 블록을 실행하도록 하는 제어문입니다.
2. `else` 추가하기
- `if` 조건이 거짓(`False`)일 때 대체 실행 블록을 정의합니다.
3. `elif` 로 여러 가지 경우 나누기
- 여러 조건식을 차례로 검사할 때 사용합니다.

In [9]:
# 예제: 숫자가 10보다 큰지 확인하기
x = 12
if x > 10:
    print("x는 10보다 큽니다.")  # 실행됨

x는 10보다 큽니다.

In [10]:
# 예제: 짝수/홀수 판별
n = 7
if n % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

홀수입니다.

In [11]:
# 예제: 점수에 따른 등급 매기기
score = 85

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
else:
    grade = "F"

print(f"점수 {score}점은 {grade}입니다.")

점수 85점은 B입니다.

### 4.1 연산자
1. 비교  연산자
- `==`, `!=`, `<`, `>`, `<=`, `>=`
2. 논리 연산자
- `and`, `or`, `not`

In [12]:
x = 5
y = 8

# and: 둘 다 참일 때
if x > 0 and y > 0:
    print("x와 y 모두 양수입니다.")

# or: 둘 중 하나만 참이어도
if x == 5 or y == 5:
    print("x 또는 y 중 하나는 5입니다.")

# not: 부정
if not x < 0:
    print("x는 음수가 아닙니다.")

x와 y 모두 양수입니다.
x 또는 y 중 하나는 5입니다.
x는 음수가 아닙니다.

## 5. `for` 문

- `for` 문은 반복을 수행할 때 사용합니다.
- `range(n)`은 0부터 n-1까지의 정수 시퀀스를 생성합니다.

In [13]:
for i in range(5):
    print("현재 i의 값:", i)

현재 i의 값: 0
현재 i의 값: 1
현재 i의 값: 2
현재 i의 값: 3
현재 i의 값: 4

In [14]:
# 예제: 1부터 10까지 짝수만 출력하기
for num in range(1, 11):
    if num % 2 == 0:
        print(num)

2
4
6
8
10

**실습 4:**

`for` 문을 사용해 1부터 20까지 숫자의 합을 계산하고 출력해 보세요.

In [15]:
sum = 0
for i in range(1,21):
  sum += 1
sum

20


**실습 5:**

`for` 문을 사용해 2단부터 9단까지의 구구단을 출력하는 프로그램을 작성하세요.

In [16]:
for i in range(1,10):
  for j in range(1,10):
    print(f'{i}x{j}={i*j}')

1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

## 6. 리스트 (List)

- 여러 값을 순서대로 저장하는 자료형입니다.
- 대괄호 `[]`를 사용합니다.

In [17]:
fruits = ["사과", "바나나", "체리"]
print("과일 리스트:", fruits)
print("첫 번째 과일:", fruits[0])

과일 리스트: ['사과', '바나나', '체리']
첫 번째 과일: 사과

In [18]:
# for 문과 함께 사용
for fruit in fruits:
    print("과일:", fruit)

과일: 사과
과일: 바나나
과일: 체리

In [19]:
# 인덱스와 요소를 함께 출력
for index, word in enumerate(['첫번째','두번째','세번째']):
  print(index, word)

0 첫번째
1 두번째
2 세번째

**실습 6:**

- `numbers = [1, 2, 3, 4, 5]` 리스트를 만들고, `for` 문을 사용해 각 요소의 제곱을 출력해 보세요.

In [20]:
numbers = [1,2,3,4,5]
for num in numbers:
  print(num**2)

1
4
9
16
25

## 7. 행렬 (Matrix)

- 리스트 안에 리스트를 넣어 2차원 배열처럼 사용할 수 있습니다.

In [21]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
# 행렬의 특정 원소 접근
print("2행 3열 원소:", matrix[1][2])

2행 3열 원소: 6

**실습 7:**

- `matrix`의 대각선 원소들의 합을 계산해 보세요.

In [23]:
sum = 0
for i in range(3):
  sum += matrix[i][i]
sum

15

## 심화 연습문제 (도전)

**최솟값과 최댓값 구하기**:

`[20, 10, 35, 30, 7]`에서 최솟값과 최댓값을 각각 구분해서 출력하시오.

In [24]:
min = 99999999999
max = -1000000
for i in [20, 10, 35, 30, 7]:
  if i >= max:
    max = i
  if i <= min:
    min = i
print(min, max)

7 35